{% extends "base_template.html" %}
{% load staticfiles %}

{% block content %}
    <hr>
    <p class="display-1">{{ book.title }}</p>
    <p><strong>by </strong> <a href="">{{ book.author }}</a></p>
    <hr>

    <p><strong>Summary:</strong>{{ book.summary }}</p>
    <hr>
    <p>
        <strong>Quotes: </strong><br>
        {{ book.quotes }}
    </p>
    <hr>
    <p><strong>Location in the book:</strong>{{ book.location_mentioned }}</p>
    <hr>
    <p><strong>ISBN:</strong>{{ book.isbn }}</p>
{% endblock %}